{% extends "base.html" %}
{% block content %}
    <h2>Treniņu saraksts</h2>
    <table class="table table-striped">
      <tr>
        <th>Lietotājs</th>
        <th>Sporta veids</th>
        <th>Intensitāte</th>
        <th>Treniņa laiks</th>
        <th>Darbības</th>
      </tr>
      {% for w in workouts %}
      <tr>
        <td>{{ w['name'] }} {{ w['surname'] }}</td>
        <td>{{ w['sport'] }}</td>
        <td>{{ w['intensity'] }}</td>
        <td>{{ w['day_time'] }}</td>
        <td>
            <a class="btn btn-danger btn-sm" href="{{ url_for('delete_workout_confirm', workout_id=w['id']) }}">Dzēst</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-secondary mt-3" href="/majasdarbi/fitnesstracker/">Atpakaļ</a>
{% endblock %}